
<form class="bloco_l" method="POST">
    <label><h2>Comentário</h2></label>
    <textarea cols="45" rows="10" name="phrase" class="input-padrao" required></textarea>
    <input class="send" type="submit" value="Cadastrar" >
</form> 


{{#each Data}}
    <li>{{this}}</li>
{{/each}}

