
<form class="bloco_l" method="POST">
    <label><h2>Comentário</h2></label>
    <textarea cols="45" rows="10" name="phrase" class="input-padrao" required></textarea>
    <input class="send" type="submit" value="Cadastrar" >
</form> 

<script>
function myFunction() {
  console.log('oi')
}
</script>

<div class="bloco_r">
    <nav>
        <ul>
            {{#each Texts}}
                <li>{{phrase}}</li>
                <button method="">Ouvir</button>
                <br>
            {{/each}}
        </ul>
    </nav>
</div>

