nav ul{
    height:200px; 
    width:90%;
}
nav ul{
    overflow:hidden; 
    overflow-y:scroll;
}
li {
    margin: 10px 20px 20px 10px
}

body {
    background-color:lightgray;
  }

.bloco_l {
    width: 380px;
    float: left;
    margin: 150px 0 0 200px;
}

.bloco_r {
    width: 600px;
    float: right;
    margin: 150px 0 0 30px;
}

button {
    float: right;
    margin: 0 100px 0 0;
    background:lightslategray;
    border-radius: 5px;
}
.send {
    width: 100%;
    padding: 15px 0;
    background:lightslategray;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

