body {
    background-color:lightgray;
  }

.bloco_l {
    width: 380px;
    float: left;
    margin: 150px 0 0 200px;
}

.bloco_r {
    width: 380px;
    float: right;
    margin: 150px 50px 50px 100px;
}

.send {
    width: 100%;
    padding: 15px 0;
    background:lightslategray;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

